@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    background: #FAD7A0;
font-family: 'Pacifico', cursive;
}

.coffee-list {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    background-image: url("../img/background.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    color: white;
    font-size: 18px;
    border: 3px solid black;
}

.coffee-operation {
  background-color: #cacfd2;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  padding: 1rem;
  font-family: 'Roboto', sans-serif;
  
}

.coffee-item {
  background-color: rgba(0, 2, 3, 0.8);
  margin: 20px;
  border-radius: 100px;
  border: 2px solid white;
  cursor: pointer;
  transition: all .3s;
}
.coffee-item:hover {
  background-color: rgba(251, 252, 252, 0.8);
  color: black;
  transform: scale(1.03);
  
}


.coffee-item img {
  width: 100px;
  padding: 15px;
}

.display {
    background-color: #808B96;
    text-align: center;
    padding: 15px 5px;
    border-radius: 5px;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    
}

.cup-container img {
    width: 100%;
}

.cup {
    width: 100%;
    display: none;
    opacity: 0;

}
.atm-container {
    width: 100%;
    margin: 0 auto;
}
.atm-container img {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1rem;
}
.change {
    min-height: 6rem;
    background-color: rgba(229, 231, 233, 0.5);
    border: 2px solid black;
    border-radius: .3rem;
    margin-top: 1rem;
}



